<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime targetFramework="4.5.2" enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <mimeMap fileExtension=".spx" mimeType="audio/ogg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
	  <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Content-Security-Policy" value="script-src 'self' 'unsafe-inline' 'unsafe-eval' ajax.googleapis.com cdnjs.cloudflare.com www.google-analytics.com;style-src 'self' 'unsafe-inline' ajax.googleapis.com fonts.googleapis.com cdnjs.cloudflare.com;img-src 'self' *;media-src *.vimeo.com;frame-src *.vimeo.com;font-src 'self' fonts.gstatic.com cdnjs.cloudflare.com" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Download-Options" value="noopen" />
        <add name="X-Frame-Options" value="allow-from player.vimeo.com" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Powered-By" value="kittens and caffeine" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="404.html" responseMode="File" />
      <remove statusCode="500" />
      <error statusCode="500" path="500.html" responseMode="File" />
    </httpErrors>
  </system.webServer>
</configuration>