/* general  */

body {
    margin: 0;
    padding: 0;
    background: transparent url('/content/images/page-background.png') center center;
    font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: #333;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0 0 1em 0;
    line-height: 1.5em;   
}

    p:last-child {
        margin-bottom: 0;
    }

a {
    color: Blue;
}

    a:hover {
        color: Red;
    }

    a img {
        border: 0;
    }

hr {
    border: 0;
    height: 1px;
    background-color: #BFD9E5;
    margin: 1em 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: square;
}

pre, code {
    font-family: monospace;
    line-height: 100%;
}

    pre.cmd {
        margin: 2em 0;
        padding: 8px;
        font-size: 1.8em;
        color: #900;
        background-color: #FAF2F2;
        border: 1px solid #CC7F7F;
        border-radius: 4px;
    }

table {
    border-collapse: collapse;
    width: 100%;
}

    table, table p {
        font-size: 1em !important;
    }

        table th,
        table td {
            padding: 4px;
        }

        table thead th {
            text-align: left;
            font-weight: bold;
            background-color: #BFD9E5;
        }

        table thead th,
        table tbody td {
            border: 1px solid #ddd;
            vertical-align: top;
        }