@import "_variables.scss";

/* general  */

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background: transparent url('https://az808808.vo.msecnd.net/assets/page-background-635783262300817767.png') center center;
    font-family: Muli, sans-serif; 
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    @extend .margin-bottom;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2.0rem;
}

p {
    @extend .margin-bottom;
    line-height: 2.6rem;   
}

    p:last-child {
        margin-bottom: 0;
    }

a {
    color: blue;
    
    &:hover {
        color: red;
    }
    
    img {
        border: 0;
    }
}

hr {
    border: 0;
    height: 1px;
    background-color: #BFD9E5;
    margin: 15px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: square;
}

ol {
    margin: 0 2em 1em 2em;
}

pre, code {
    font-family: monospace;
    line-height: 100%;
}

pre.cmd {
    margin: 15px 0;
    padding: 8px;
    font-size: 2.2rem;
    color: #900;
    background-color: #FAF2F2;
    border: 1px solid #CC7F7F;
    border-radius: 2px;
}

table {
    border-collapse: collapse;
    width: 100%;
    @extend .margin-bottom;   
        
    thead th {
        text-align: left;
        font-weight: bold;
        background-color: #BFD9E5;
    }
    
    thead th,
    tbody td {
        border: 1px solid #ddd;
        vertical-align: top;
        padding: 8px;
    }
}

table, table p {
    font-size: 1.4rem !important;
}

iframe {
    @extend .margin-bottom;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}