.page-width {
    width: 960px;
    margin: 0 auto;
}

nav {
    background: black url('/content/images/navigation-background.png') bottom center repeat-x;
    min-height: 56px;
    margin-bottom: 15px;
}

    nav ul {
        list-style: none;
    }

        nav ul li {
            float: left;
            margin: 0 12px 0 0;
            padding-left: 18px;
            background: transparent url('/content/images/nav-bullet.png') left center no-repeat;
        }

            nav ul li:first-child {
                background: none;
                padding-left: 0;
            }

        nav ul a {
            display: block;
            padding: 16px 0;
            color: white;
            font-size: 0.8em;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }

            nav ul a:first-letter {
                font-size: 1.2em;
            }

            nav ul a:hover,
            nav ul a.selected {
                color: #BFD9E5;
            }

    nav #rss {
        float: right;
        margin-top: 10px;
    }

#site-header h1,
#site-header h2 {
    font-weight: normal;
    text-shadow: 2px 2px 5px #999;
}

#site-header h1 {
    font-family: 'Atomic Age', serif;
    font-size: 2em;
}

#site-header h2 {
    font-size: 1.2em;
}

#main {
    background: white;
    min-height: 400px;
    border-radius: 10px;
    margin-bottom: 2em;
}

    #main #content {
        padding: 1em 0;
    }

        #main #content ul,
        #main #content ol {
            margin: 0 2em;
        }

#sidebar {
    float: right;
    margin: 0 0 1em 1em;
}

#site-footer {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 2em;
}

    #site-footer a {
        color: #333 !important;
        text-decoration: none;
    }

/* attributes */

.header {
    font-size: 1.6em;
    margin-bottom: 1em;
}

.padded {
    padding: 15px;
}

.clearer {
    clear: both;
}

a.colorless {
    color: inherit;
}

/* blog post items */

.blog-post {
    margin-bottom: 1em;
}

.blog-post header {
    margin: 0 0 0.5em 0;
}

    .blog-post header h1 {
        font-size: 1.8em;
        margin-bottom: 0.2em;
    }

        .blog-post header h1 a {
            color: #333;
            text-decoration: none;
        }

            .blog-post header h1 a:hover {
                text-decoration: underline;
            }

.blog-post .subheader {
    margin-bottom: 1em;
    font-size: 1em;
    color: #aaa;
}

.blog-post .social {
    margin: 0 !important;
}

    .blog-post .social li {
        list-style-type: none;
        float: left;
        padding: 0 5px;
        height: 29px;
    }

        .blog-post .social li:first-child {
            padding-left: 0;
        }

.blog-post h2,
.blog-post h3,
.blog-post-h4 {
    margin-bottom: 1em;
}

/* media specific */

@media all and (min-width: 960px) {
    #main {
        background: white url('/content/images/main-background.png') center center;
    }
}

@media screen and (max-device-width: 480px) {
    nav ul a {
        font-size: 1.6em;
    }

    #site-header h1 {
        font-size: 4em;
    }

    #site-header h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.4em;
    }
}

#post-list {
	list-style-type: square;
	
	li {
		margin-bottom: 0.5em;
	}
	
	.post-date {
		color: #999;
	}
}