---
layout: default
---

<article class="blog-post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2><time datetime="{{ page.date }}" pubdate>{{ page.date | date: "%-d %B %Y" }}</time></h2>
    </header>
    {{ content }}
</article>

<div id="disqus_thread"></div>

<script>
    if (document.location.host === "andy.mehalick.com") {
        var disqus_identifier = "{% if page.post_id %}{{ page.post_id }}{% else %}{{ page.url }}{% endif %}";
        var disqus_title = "{{ page.title }}";
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//andymehalick.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    }
</script>
