.highlighter-rouge {
    border: 1px solid #e1e4e5;
    margin-bottom: 2.6rem;
}

.highlight {
    margin: 0;
    padding: 16px;

    .err {
        border: none !important;
    }
}

@import "pygments/vs.scss";