<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    
    <nav>
        <div class="page-width">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>        
            <a id="rss" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="Subscribe to RSS"><img src="https://az808808.vo.msecnd.net/assets/rss-icon-635783262057302689.png" alt="rss icon" width="32" height="32" /></a>
        </div>
    </nav> 
    
    <main class="page-width">
        <div class="padded">
            <div id="site-photo">
                <img src="https://az808808.vo.msecnd.net/assets/andy-mehalick-v1-280x280-635783259977684363.jpg" alt="Andy Mehalick" width="140" height="140" />
            </div>
            <header id="site-header">
                <h1>Andy Mehalick</h1>
                <h2>Software Architect, Engineer, Designer</h2>
                <hr />
            </header>
            <div id="content">               
                {{ content }}           
            </div>       
        </div>
    </main>
    
    <footer>
        <div class="page-width">
            All site design and development by <a class="colorless" rel="author" href="https://plus.google.com/113902592100905338618">Andy Mehalick</a>.
        </div>
    </footer>

</body>

</html>
