---
layout: default
---

<article class="blog-post">
    <header>
        <h1 class="header">{{ page.title }}</h1>
        <div class="subheader">
            <time datetime="{{ page.date }}" pubdate>{{ page.date | date: "%-d %B %Y" }}</time>   
        </div>
    </header>
    {{ content }}
</article>

<div id="disqus_thread"></div>

<script>
    //var disqus_developer = parseInt(@(Request.IsLocal ? 1 : 0));
    var disqus_shortname = "andymehalick";
    var disqus_identifier = "{% if page.post_id %}{{ page.post_id }}{% else %}{{ page.url }}{% endif %}";
    var disqus_title = "{{ page.title }}";
    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>